<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="armclient" />
  <package id="az.powershell" />
  <package id="azure-cli" />
  <package id="ccleaner" />
  <package id="cascadiacode" />
  <package id="docker-desktop" />
  <package id="git" />
  <package id="greenshot" />
  <package id="kubernetes-helm" />
  <package id="microsoft-edge" />
  <package id="mremoteng" />
  <package id="notepadplusplus" />
  <package id="paint.net" />
  <package id="postman" />  
  <package id="powershell-core" />
  <package id="choco install ssms" />
  <package id="telegraf" />
  <package id="terraform" />
  <package id="treesizefree" />
  <package id="vlc" />
  <package id="winscp" />

  <!-- <package id="7zip" version="1.1" /> 
  <package id="chocolateytestpackage" version="0.1" source="somelocation" />
  <package id="alloptions" version="0.1.1"
           source="https://somewhere/api/v2/" installArguments=""
           packageParameters="" forceX86="false" allowMultipleVersions="false"
           ignoreDependencies="false"
           />-->
</packages>
